*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.titulos{
    text-align: center;
    color: white;
    font-family: 'Kirsty';
    font-size: 60px;
    background: #1F2328;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    margin-left: 480px;
    margin-right: 480px;
}

h5{
    color: #1F2328;
    font-family: 'Kirsty';
    font-size: 30px;
    font-weight: bold;
}

.custom-btn {
    background-color: #1F2328;
    color: #FFFFFF;
    border-color: #1F2328;
}

.custom-btn:hover,
.custom-btn:active {
    background-color: #6D747A;
    color: #FFFFFF;
    border-color: #6D747A;
}

.cont-text{
    margin-left: 60px;
    font-size: 18px;
    background: #1F2328;
    color: white;
    border-radius: 30px;
    padding: 20px;
}

h4{
    text-align: center;
    font-size: 40px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.nav-item{
    font-size: 17px;
    transition: transform 0.3s;
}

.nav-item:hover{
    transform: scale(1.2);
}

.ordenar-air{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    width: 90%;
}

.des-air{
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
}

.imagen-zap{
    padding: 50px 0;
    width: 80%;
    height: 400px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.img-ampliada {
    transition: transform 0.3s;
}

.img-ampliada:hover {
    transform: scale(1.1);
}

.navbar-brand{
    font-size: 35px;
    height: 60px;
    width: 40px;
}

.nav-estilo{
    font-family: 'Kirsty';
}

a.carrito img {
    width: 21px;
    height: auto;
}

a.carrito {
    display: inline-block;
    margin-right: 40px;
}

h3{
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

body{
    background: rgb(120, 120, 120);
}

.imagenes-air {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.imagenes-air img {
    max-width: 200px;
    margin-bottom: 20px;
}

.ordenar-air {
    display: flex;
    justify-content: center;
}

.contenedor-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-top: 45px;
}

.des-air {
    font-size: 18px;
    background: #1F2328;
    color: white;
    border-radius: 30px;
    padding: 20px;
}

.img-cora button {
    padding: 5px;
    border: none;
    background: transparent;
    transition: transform 0.3s;
    margin-top: 10px;
}

.imagenes-air {
    width: 100%;
    overflow: hidden;
}

.img-cora button img {
    width: 60px;
    height: auto;
}

.img-cora button:hover {
    transform: scale(1.8);
}

.nav-item:hover{
    transform: scale(1.2);
}

.des-air {
    text-align: center;
    background-color: #343a40;
    font-size: 20px;
    padding: 40px;
    width: 500px;
    height: 400px;
    border-radius: 20px;
}

.row{
    margin-right: 300px;
}

.col-lg-8{
    margin-top: 30px;
}

.ag-carro button {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background: #1F2328;
    transition: transform 0.3s;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.ag-carro button:hover{
    transform: scale(1.2);
}

h6{
    background-color: #343a40;
    color: white;
    font-size: 18px;
    font-family: 'Kirsty';
    flex-grow: 1;
    margin-left: 450px;
    margin-top: -240px;
}

.h5-p-d{
    color: #FFFFFF;
}

.parr-air{
    text-align: left;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tallas-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 30px;
    display: flex;
    margin-right: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tallas-form h2 {
    text-align: center;
}

.tallas-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.tallas-form input[type="radio"] {
    display: none;
}

.tallas-form input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.tallas-form input[type="radio"]:checked + label {
    background-color: #6D747A ;
    color: white;
}

.tallas-form input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #1F2328 ;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tallas-form input[type="submit"]:hover {
    background-color: #4C5258 ;
}

.tallas-form div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tallas-container {
    display: flex;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
