*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 20px;
    background: black;
    border-radius: 0%;
    height: 70px;
}

nav > a{
    margin-right: 110px;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    height: 24px;
    padding: 3px;
    border-radius: 8px;
}

.titulosz{
    text-align: center;
    color: white;
    font-family: 'Kirsty';
    font-size: 60px;
    background: black;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    margin-left: 480px;
    margin-right: 480px;
}


body{
    background: rgb(120, 120, 120)
}

.nav-item{
    font-size: 17px;
    transition: transform 0.3s;
}

.nav-item:hover{
    transform: scale(1.2);
}

.custom-btn {
    background-color: #1F2328;
    color: #FFFFFF;
    border-color: #1F2328;
}

.custom-btn:hover,
.custom-btn:active {
    background-color: #6D747A;
    color: #FFFFFF;
    border-color: #6D747A;
}

.navbar-brand{
    font-size: 35px;
    height: 60px;
    width: 40px;
}

.nav-estilo{
    font-family: 'Kirsty';
}

.cartasgeneral{
    gap: 50px;
    display: grid;
    grid-template-columns: 20% 20% 20% ;
    margin: 150px;
}

.carts{
    background-color: #1F2328;
}

.btn btn-primary{
    border-color: black;
}

.tituloss{
    text-align: center;
    color: white;
    font-family: 'Kirsty';
    font-size: 60px;
    background: black;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    margin-left: 480px;
    margin-right: 480px;
}


.cartasgene2{
    margin: 100px;
    gap: 10px;
}