{% extends 'base/master.html' %}
{% load static %}

{% block title %}
  Perfil del Cliente
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="perf text-center">Perfil del Cliente</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Correo</th>
                <th scope="col">Usuario</th>
                <th scope="col">Contraseña</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido_paterno }}</td>
                <td>{{ cliente.apellido_materno }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.usuario }}</td>
                <td>{{ cliente.contraseña }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay clientes registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}